---
import { changeLanguage } from "i18next";
import Gallery from "@/components/Gallery.astro";
import Layout from "../../../layouts/Layout.astro";
import "../../styles/global.css";

changeLanguage("en");
---

<Layout title="Dialogue center">
  <section class="flex flex-col items-center gap-4 mb-8">
    <div class="w-fit flex flex-col gap-5 md:max-w-1/2 md:mx-2">
      <h2 class="text-3xl mt-8">Participatívne líderky</h2>
      <h3 class="flex flex-col gap-1 italic text-gray-400 text-sm">
        <span>Termín realizácie projektu: Apríl 2021 - Marec 2022</span>
        <span
          >Projektový tím: Soňa Kariková, Dana Švihlová, Michaela Huľuková</span
        >
        <span>Projektové partnerky: Susan Morales Guerra, Kirsten Paaby</span>
      </h3>
      <p class="">
        Cieľom projektu je prispieť k podpore rozvoja aktívnej a odolnej
        spoločnosti v SR, ako aj posilňovania aktívneho občianstva žien a ich
        angažovanosti v občianskej, verejnej a politickej sfére. Participatívne
        líderstvo sa v súčasnosti považuje za účinný prístup pri podpore
        aktívnych a odolných spoločností, ktoré sú schopné riešiť súčasné
        komplexné problémy, ktoré trápia celý svet, vrátane Slovenska. Idea
        tréningu „Participatívne líderky“ vychádza z prepojenia problematík
        participatívneho a ženského líderstva. Termín „participatívne lídersvo“
        pochádza z konceptu „Art of Hosting (meanigful conversations)“, resp.
        „Umenie hostiť zmysluplné konverzácie". Výskumy ukazujú, že práve ženy
        inklinujú k líderstvu, ktoré podporuje inklúziiu, otvorenú komunikáciu,
        či participatívne konverzácie. Prepojenie tém ženského a
        participatívneho líderstva tak považujeme za mimoriadne účinné. Zámerom
        projektu je tiež rozvinúť aktívnu spoluprácu s nórskymi partnerkami.
        Vzhľadom na vysokú mieru ženského a participatívneho líderstva v Nórsku,
        považujeme spoluprácu s nórkami za obzvlášť prínosnú. Na vypracovanie
        kurikula bude využité výstupy kreatívnych diskusií projektového tímu s
        nórskymi partnerkami, know-how nórskeho partnera, ako aj výskumné metódy
        tzv. analýzy prirodzene sa vyskytujúcich dát, fokusové skupiny a
        konzultácie s poradným tímom expertov.
      </p>
      <h2 class="text-3xl mt-8">Relevatné odkazy</h2>
    </div>

    <div class="min-w-1/2">
      <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"></h2>
      <ul
        class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
      >
        <li>
          <a
            href="https://urbact.eu/networks/agents-co-existence"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Agenti koexistencie - Program UrbAct</a
          >
        </li>
        <li>
          <a
            href="https://www.banskabystrica.sk/samosprava/otvorena-samosprava-ogp-local/agenti-koexistencie/"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Agenti koexistencie - Banská Bystrica</a
          >
        </li>
      </ul>
    </div>
  </section>
</Layout>
