---
import { changeLanguage } from "i18next";
import EventCard from "@/components/EventCard.astro";
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/layouts/Timeline.astro";
import "../styles/global.css";
import { date } from "astro:schema";

changeLanguage("sk");
---



<Layout>
    <div class="flex justify-center">
        <Timeline >
            <EventCard
            name="Dialogue Sessions #8"
            date="19.12.2023"
            description="Obsahom druhého depolarizačného dialógu bola otvorená diskusia o problematike migrácie a akým spôsobom je v našej spoločnosti vnímaná a najmä zneužívaná"
            tags="Nahodny string"
            >
            </EventCard>
        </Timeline>
    </div>
</Layout>