---
import TeamMemberCard from "@/components/TeamMemberCard.astro";
import Layout from "../layouts/Layout.astro";
import translations from "../i18/team.json";
import "../styles/global.css";


const locale = "en";

const teamData = translations[locale];
---

<Layout title="Dialogue Center">
  <section class="team flex flex-col gap-15 mt-5 mb-5">
    {teamData.map(member => (
      <TeamMemberCard
        name={member.name}
        photo={member.photo}
        responsibilities={member.responsibilities}
        email={member.email}
      />
    ))}
  </section>
</Layout>
