---

import TeamMemberCard from "@/components/TeamMemberCard.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";

import i18next, { t, init } from "i18next";

import skTranslation from "../locales/sk/translation.json";
import enTranslation from "../locales/en/translation.json";


await init({
  lng: "sk", // Set default language to Slovak
  debug: true,
  resources: {
    en: { translation: enTranslation },
    sk: { translation: skTranslation }
  }
});

const { name, photo, responsibilities, email } = Astro.props;
---
<Layout title="Dialogue center">
  <section class="team flex flex-col gap-15 mt-5 mb-5">
    <TeamMemberCard
      name="Michaela Kováčik Huľuková"
      photo="https://cdn.razuna.eu/file/remote?i=67afb5983b5d57b9feba5310&f=t&dl=t&type=thumbnail&c=1bc745a1b7dfa9b14e1d105210596096&token=98f0ae25ebadeb9bac31047d1c41dc7fb7236adcbcaefac87f84846de91139af"
      responsibilities={t("team.responsibilities_miska")}
      email="michaela.hulukova@gmail.com"
    />
    <TeamMemberCard
    name="Michaela Beran Sladkayová"
    photo="https://cdn.razuna.eu/file/remote?i=67afb9fd39fcd21828756a54&f=t&dl=t&type=thumbnail&c=1950fe2dc03fb354e889b73cc915905d&token=98f0ae25ebadeb9bac31047d1c41dc7fb7236adcbcaefac87f84846de91139af"
    responsibilities={t("team.responsibilities_miska2")}
    email="michaela.sladkayova@google.com"
    />
    <TeamMemberCard
      name="Gabriel Karika, st."
      photo="https://cdn.razuna.eu/file/remote?i=67afb89d9e30880d01809637&f=t&dl=t&type=thumbnail&c=a7a7e1a89bb4bb319227ddfe4ce9b668&token=98f0ae25ebadeb9bac31047d1c41dc7fb7236adcbcaefac87f84846de91139af"
      responsibilities={t("team.responsibilities_gabriel")}
      email="gabriel.karika@google.com"
    />
    <TeamMemberCard
      name="Tomáš Hudák"
      photo="https://drive.google.com/file/d/1OiyBYiyvwMPoEQp90K1bQtGkkNqmVm8V/view?usp=sharing"
      responsibilities={t("team.responsibilities_tomas")}
      email="tomas.hudak@google.com"   
    />
  </section>
</Layout>