
<section class="flex flex-col items-center gap-4">

      <div>
            <h2 class="text-3xl">Naše poslanie</h2>
            <p class="max-w-1/2">
              Naším poslaním je rozvíjať kultúru dialógu a vytvárať priestor pre
              spoluprácu medzi vládami, občanmi a súkromným sektorom. Veríme, že
              spoločný dialóg a učenie sa od seba navzájom vedie k múdrejším riešeniam a
              lepším vzťahom.
            </p>
            <picture>
                  <img src="https://cdn.razuna.eu/file/remote?i=67addbd69e30880d01803086&f=t&dl=t&type=thumbnail&c=80be322469fa8a39c01caf266071d002&token=98f0ae25ebadeb9bac31047d1c41dc7fb7236adcbcaefac87f84846de91139af" alt="" />
            </picture>
      </div>
</section>