<footer class="min-w-1/2">
    Logos go here
  <div class="partners flex flex-row">
    <img src="https://placehold.co/100x100/png" alt="" />
    <img src="https://placehold.co/100x100/png" alt="" />
    <img src="https://placehold.co/100x100/png" alt="" />
    <img
      src="https://placehold.co/100x100/png"
      alt=""
    /><img src="https://placehold.co/100x100/png" alt="" />
  </div>
  <address class="flex flex-col justify-center">
    <a href="mailto:dailoguecenter@gmail.com">dailoguecenter@gmail.com</a><br />
    <a href="tel:+14155550132">+1 (415) 555‑0132</a>
    <a href="facebook">Facebook link</a>
    <p>Copyright</p>
  </address>
</footer>
