---
import LogoPanel from "./LogoPanel.astro";
---

<!-- Logo Panel Above Footer -->


<div class="h-fit flex flex-col md:mt-auto">
  <LogoPanel />

  <div class="p-4 bg-gradient-to-r from-[#102756] via-[#1f5cab] to-[#2878de] flex flex-col justify-center items-center gap-2.5">
    
    <!-- Email Box -->
    <a href="mailto:dialoguecenter@gmail.com" class=" px-6 py-4 bg-[#164178] rounded-lg flex justify-center items-center hover:bg-[#1a4e92] transition duration-300">
      <div class="text-white text-lg font-semibold ">dialoguecentre13@gmail.com</div>
    </a>   

    <!-- Phone Box -->
    <div onclick="copyPhoneNumber()" class="px-6 py-2.5 bg-emerald-600 opacity-75 rounded-lg flex justify-center items-center cursor-pointer hover:bg-emerald-800 hover:opacity-100 transition duration-300">
      <svg class="w-6 h-6 text-white mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M6.6 10.8C7.8 13.4 10.1 15.7 12.7 16.9L15 14.6C15.2 14.4 15.5 14.3 15.8 14.4C17.1 14.7 18.4 14.9 19.7 14.9C20.4 14.9 21 15.5 21 16.2V19.8C21 20.4 20.4 21 19.8 21C10.5 21 3 13.5 3 4.2C3 3.6 3.6 3 4.2 3H7.8C8.5 3 9.1 3.6 9.1 4.2C9.1 5.6 9.3 6.9 9.6 8.2C9.7 8.5 9.6 8.8 9.4 9L6.6 10.8Z"></path>
      </svg>
      <a href="tel:+421908358915">
        <div class="text-white text-[1rem]">+421 908 358 915</div>
      </a>
    </div>

    <!-- Facebook Logo -->
    <a href="https://www.facebook.com/UKCEEDialogueCentre" target="_blank" rel="noopener noreferrer" class="flex justify-center items-center hover:opacity-80 transition duration-300">
      <svg width="2.5rem" height="2.5rem" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_200_116)">
          <path d="M64.3331 32C64.3331 14.327 50.0061 0 32.3331 0C14.6602 0 0.33313 14.327 0.33313 32C0.33313 47.0067 10.6653 59.5994 24.6032 63.0579V41.7792H18.0048V32H24.6032V27.7862C24.6032 16.8947 29.5325 11.8464 40.2256 11.8464C42.2531 11.8464 45.7514 12.2445 47.1824 12.6413V21.5053C46.4272 21.4259 45.1152 21.3862 43.4858 21.3862C38.2391 21.3862 36.2115 23.3741 36.2115 28.5414V32H46.664L44.8682 41.7792H36.2115V63.7658C52.0567 61.8522 64.3344 48.361 64.3344 32H64.3331Z" fill="#0866FF"/>
          <path d="M44.8669 41.779L46.6627 31.9998H36.2103V28.5412C36.2103 23.3739 38.2378 21.386 43.4845 21.386C45.1139 21.386 46.4259 21.4257 47.1811 21.5051V12.6411C45.7501 12.243 42.2519 11.8462 40.2243 11.8462C29.5312 11.8462 24.6019 16.8945 24.6019 27.786V31.9998H18.0035V41.779H24.6019V63.0577C27.0775 63.6721 29.6669 63.9998 32.3319 63.9998C33.6439 63.9998 34.9379 63.9191 36.209 63.7655V41.779H44.8656H44.8669Z" fill="white"/>
        </g>
      </svg>
    </a>

    <!-- Copyright (Stays at Bottom) -->
    <div class="flex justify-center items-center">
      <span class="text-white text-0.75rem font-['Work Sans']"> Copyright © 2024 </span>
      <span class="text-white text-0.75rem font-['Work Sans'] underline ml-2">DIALOGUE CENTRE, n. o.</span>
    </div>




    <!-- JavaScript to Copy Phone Number -->
    <script>
      function copyPhoneNumber() {
        const phoneNumber = "+421999999999";  // Your phone number
        navigator.clipboard.writeText(phoneNumber).then(() => {
          alert("Phone number copied to clipboard!");
        }).catch(err => {
          console.error("Error copying phone number: ", err);
        });
      }
    </script>

  </div>
</div>
