<header class="text-[1.5rem] sticky flex items-center justify-between p-3 bg-gradient-to-br from-[#5482de] to-[#32559a]">
    
    <!-- Logo Image -->
    <img src="/logos/logo_dc.png" alt="Logo" class="w-16 h-16 object-contain"/>

    <!-- Navigation -->
    <nav class="flex justify-around gap-12 text-white">
        <a href="/" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]"><span>Home<span/></a>
        <a href="/projects" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]"><span>Projects<span/></a>
        <a href="/team" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]"><span>Our Team<span/></a>
        <a href="/team" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]"><span>Contact Us<span/></a>
    </nav>

    <!-- Language Switch -->
    <a href="" class=" text-white transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]">eng</a>

</header>


<style>
    span {
        text-shadow: 0 0 3px black;
        font-weight: 400;
    }
</style>
