<header class="w-full text-[1.5rem] sticky top-0 flex items-center justify-around p-10 bg-gradient-to-br from-[#5482de] to-[#32559a]">
    
    <!-- Logo Image -->
    <img src="/logos/logo_dc.png" alt="Logo" class="w-16 h-16 object-contain"/>

    <!-- Navigation -->
    <nav class="flex justify-between gap-10 text-white">
        <a href="" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]">Projects</a>
        <a href="" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]">Our Team</a>
        <a href="" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]">Contact Us</a>
        <a href="" class="transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]">Home</a>
    </nav>

    <!-- Language Switch -->
    <a href="" class="text-white transition duration-300 hover:[text-shadow:0px_4px_6px_rgba(255,255,255,0.6)]">Switch Language</a>

</header>
