<header class="flex items-center justify-around p-10 h-5">
    <a href="">Logo</a>
    <nav class="flex justify-between gap-10">    
        <a href="">Home</a>
        <a href="">Projects</a>
        <a href="">Our team</a>
        <a href="">Contact us</a>
    </nav>
    <a href="">Switch language</a>
</header>

