---
const heroImage = "/banner_new.jpg"; // Ensure correct path
---

<!-- Hero Section -->
<section
  class="flex flex-col lg:flex-row items-start px-12 py-16 md:max-w-3/4 md:mx-auto"
>
  <!-- Left Content -->
  <!-- <div
    class="lg:w-1/2 text-center lg:text-left lg:pl-16 flex flex-col items-center"
  >
    <h1
      class="text-6xl font-extrabold text-blue-900 font-sans md:font-stretch-expanded dark:text-blue-300 text-center"
    >
      POĎME O TOM HOVORIŤ
    </h1>
    <p
      class="text-gray-700 text-[1.5rem] mt-4 font-nunito dark:text-gray-300 text-center"
    >
    Podporujeme hľadanie

    múdrych riešení

    pre výzvy dneška

    a kvalitné

    medziľudské vzťahy.
      <span class="font-bold italic">skutočnú spoluprácu</span>.
    </p>
    <a
      href="mailto:dialoguecenter@gmail.com"
      class="mt-6 bg-blue-500 text-white text-lg font-medium px-6 py-3 rounded-lg shadow-md hover:bg-blue-500 transition duration-300 font-nunito"
    >
      Napíšte nám
    </a>
  </div> -->
  <div class="lg:w-3/4 mx-auto flex justify-center mt-10 lg:mt-0 dark:grayscale]">
    <img
      src={heroImage}
      alt="Large colorful text "
      class="max-w-full h-auto"
    />
  </div>
</section>

<!-- Right Image -->
