---
const logos = [
  { src: "/logos/active_citizen_fund.png", alt: "Active Citizen Fund" },
  { src: "/logos/agenti-koexistencie.png", alt: "Agenti Koexistencie" },
  { src: "/logos/europska-komisia.png", alt: "Europska Komisia" },
  { src: "/logos/oecd.png", alt: "OECD" },
  { src: "/logos/spolupracovna.jpg", alt: "Spolupracovna" },
  { src: "/logos/urbact.png", alt: "Urbact" }
];
---

<div class="h-fit flex justify-around items-center  py-4 gap-5 flex-wrap">
  {logos.map((logo) => (
    <img src={logo.src} alt={logo.alt} class="h-12" />
  ))}
</div>
