---
import ProjectCategory from "./ProjectCategory.astro";
import ProjectItem from "./ProjectItem.astro";
---

<section class="flex flex-col items-center gap-4 m-4 md:max-w-4xl md:mx-auto">
  <ProjectCategory
    title="Rozvoj zručností pre získavanie kolektívnej inteligencie a rozvíjanie sociálnej kohézie"
  >
    <ProjectItem
      name="Workshopy na strategickú prácu s polarizáciou"
      description=`Organizácia workshopov zameraných na tému "Ako sa udržať v strede alebo ako strategicky pracovať s polarizáciou"`
      link="/projects/polarization_workshops"
    />
    <ProjectItem
      name="Dialógy s verejnosťou"
      description=`Séria stretnutí organizovaných Dialogue Centre, kde vytvárame bezpečný priestor na otvorenú diskusiu o dôležitých spoločenských témach.`
      link="/projects/dialogues"
    />
    <ProjectItem
      name="Kurikulum tréningu „Participatívne líderky“"
      description=`Projekt Participatívne líderky podporuje rozvoj ženského a participatívneho líderstva ako nástroja pre budovanie odolnej a angažovanej spoločnosti.`
      link="/projects/participative_leaders"
    />
  </ProjectCategory>
  <ProjectCategory title="Rozvoj otvorenej správy">
    <ProjectItem
      name="Agenti koexistencie"
      description=`Projekt sa zameriava na pravidelnú organizáciu dialógových podujatí,
          ktorých cieľom je vytvárať priestor pre praktizovanie zručností občanov,
          hosťovať konverzácie v kontexte aktuálnych spoločenských tém, ako aj
          vyjadrovať a počúvať rozličné názor s rešpektom`
      link="/projects/agents"
    />
    <ProjectItem
      name="SPOLUpracovňa mesta Banská Bystrica"
      description=`Mestská Spolupracovňa je otvorený priestor pre obyvateľov, odborníkov aj samosprávu, kde sa cez dialóg a spoluprácu formuje kolektívna inteligencia a spoločné riešenia pre rozvoj mesta Banská Bystrica.`
      link="/projects/coworking"
    />
  </ProjectCategory>
  <ProjectCategory title="Facilitácia spolutvorby a kolektívnej inteligencie">
    <ProjectItem
      name="Revitalizácia mestského parku"
      description=`Projekt revitalizácie Mestského parku na Tajovského ulici v Banskej Bystrici prebiehal v duchu participácie obyvateľov, odborníkov a samosprávy, s cieľom vytvoriť funkčný a inkluzívny verejný priestor citlivý k histórii aj budúcnosti.`
      link="/projects/park_revitalization"
    />
    <ProjectItem
      name="Revitalizácia sídliskových priestranstiev"
      description=`Zelené sídliská (zelené oázy)“ sa zameriaval na prípravu revitalizácie siedmich verejných priestorov v Banskej Bystrici so zreteľom na klimatickú adaptáciu prostredníctvom participácie obyvateľov, odborníkov a miestnych lídrov.`
      link="/projects/green_oasis_neighbourhood"
    />
    <ProjectItem
      name="Program rozvoja bývania Banská Bystrica"
      description=`Projekt Program rozvoja bývania mesta Banská Bystrica 2035 sa zameriava na tvorbu strategického dokumentu pre spravodlivý, udržateľný a dostupný rozvoj bývania v meste, s dôrazom na participáciu a inovácie.`
      link="/projects/hoodlam_revitalization"
    />
    <ProjectItem
      name="Príprava akčných plánov otvoreného vládnutia"
      description=`Projekt Iniciatíva Partnerstva pre Otvorené vládnutie na miestnej úrovni sa zameriava na podporu transparentného, zodpovedného a participatívneho riadenia mesta Banská Bystrica prostredníctvom zapojenia do medzinárodného programu OGP Local a tvorby Akčného plánu otvoreného vládnutia.`
      link="/projects/open_goverment_partnership"
    />
    <!-- <ProjectItem
      name="IDEATHON pri tvorbe Integrovanej územnej stratégie"
      description=`Projekt sa zameriava na pravidelnú organizáciu divalógových podujatí,
          ktorých cieľom je vytvárať priestor pre praktizovanie zručností občanov
          hosťovať konverzácie v kontexte aktuálnych spoločenských tém, ako aj
          vyjadrovať a počúvať rozličné názoroy s rešpektom`
      link="/projects/wip"
    /> -->
    <ProjectItem
      name="Platforma pre rozvoj športu a cestovného ruchu"
      description=`Projekt sa zameriava na pravidelnú organizáciu divalógových podujatí,
          ktorých cieľom je vytvárať priestor pre praktizovanie zručností občanov
          hosťovať konverzácie v kontexte aktuálnych spoločenských tém, ako aj
          vyjadrovať a počúvať rozličné názoroy s rešpektom`
      link="/projects/wip"
    />
    <!-- <ProjectItem
      name="Spolupráca na príprave platformy pre rozvoj športu a cestovného ruchu"
      description=`Projekt sa zameriava na pravidelnú organizáciu divalógových podujatí,
  ktorých cieľom je vytvárať priestor pre praktizovanie zručností občanov
  hosťovať konverzácie v kontexte aktuálnych spoločenských tém, ako aj
  vyjadrovať a počúvať rozličné názoroy s rešpektom`
      link="/projects/wip"
    /> -->
  </ProjectCategory>

</section>

<!--
<style>
h1 {
	display: block;
	position: relative;
	padding: 0.2em 0;
}

  h1::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: ;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

  header h1 {
  overflow: hidden;
}

header h1::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

header h1:hover::after,
header h1:focus::after{
  transform: translate3d(0, 0, 0);
}
</style> -->
