---
import Gallery from "@/components/Gallery.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

---


<Layout title="Dialogue center">
  <section class="flex flex-col items-center gap-4 mb-8 md:max-w-1/2 md:mx-auto">
      <div class="max-w-prose flex flex-col gap-5 mx-4 md:mx-auto text-gray-700">
        <!-- Using max-w-prose for better text readability -->
        <h2 class="text-3xl mt-8 font-semibold text-gray-800">
          Agenti koexistencie
        </h2>

        <h3 class="flex flex-col gap-1 italic text-gray-400 text-sm">
        <span>Termín realizácie projektu: Jún 2023 – December 2025</span>
        <span>Projektový tím:  Dialogue Centre - Michaela Kováčik Huľuková, Mesto Banská Bystrica /Referát pre participáciu a inováciu v oblasti otvoreného spravovania - Soňa Kariková</span>
        <span>Projektový partneri: Samosprávy - Aarhus (Dánsko), Breda (Holandsko), Quart de Poblet (Španielsko), Gdansk (Poľsko), Budaörs (Maďarsko), Kekava (Lotyšsko), územné združenie Iasi Metropolitan (Rumunsko)</span>
        <span>Finančná podpora projektu: Program URBACT IV. (Európsky fond regionálneho rozvoja), Mesto Banská Bystrica</span>
      </h3>

        <p>
          V spolupráci s mestom
          <a
            href="https://www.banskabystrica.sk/samosprava/otvorena-samosprava-ogp-local/agenti-koexistencie/"
            class="text-blue-600 hover:underline"
            >Banská Bystrica</a
          >
          sa organizácia Dialogue Centre, n.o. zapojila do siete akčného plánovania
          <span class="font-semibold">“Agents of Co-Existence”</span> (Agenti
          koexistencie, alebo aj ambasádori dobrých vzťahov), ktorú vedie mesto Genk
          (Belgicko).
        </p>
        <p>
          Táto sieť je spoluprácou medzi 9 európskymi mestami, ktorá je zameraná na
          podporu inovatívnych prístupov k spoločenským výzvam a inkluzívnu tvorbu
          miestnych politík s aktívnym zapojením obyvateľov. Naša organizácia má
          postavenie neziskového partnera mesta, ktorého hlavnou úlohou bude pracovať
          s miestnou lokálnou skupinovu obyvateľov Banskej Bystrice. Táto "urban
          local group" alebo miestna lokálna skupina, bude spolutvoriť Akčný plán
          Agentov Koexistencie.
        </p>

        <div>
          <!-- Wrap list in a div so parent gap-5 applies correctly -->
          <p class="mb-2">
            Okrem Banskej Bystrice a mesta Genk, ako lead partner, sú do siete
            zapojené mestá:
          </p>
          <ul class="list-disc list-outside pl-5 space-y-1">
            <li>Aarhus (Dánsko)</li>
            <li>Breda (Holandsko)</li>
            <li>Quart de Poblet (Španielsko)</li>
            <li>Gdansk (Poľsko)</li>
            <li>Budaörs (Maďarsko)</li>
            <li>Kekava (Lotyšsko)</li>
            <li>územné združenie Iasi Metropolitan (Rumunsko)</li>
          </ul>
        </div>

        <p>
          Sieť je súčasťou programu <span class="font-semibold">URBACT IV</span>,
          ktorý sa zameriava na trvalo udržateľný európsky rozvoj a je
          spolufinancovaný z Európskeho fondu regionálneho rozvoja (ERDF). Sieť sa
          zameriava na hľadanie spôsobov, ako posilniť zručnosti a kompetencie
          zamestnancov verejnej správy a vytvárať nové organizačné štruktúry a
          nastoľovať novú kultúru v organizáciách verejnej správy pre podporu
          participatívneho riadenia, resp. spravovania vecí verejných a tým aj
          podpory demokratického systému.
        </p>
        <p>
          Zdieľaním vedomostí a skúseností sa mestá budú od seba navzájom učiť a
          spoločne dospievať k novým poznatkom. Každé mesto vypracuje miestny
          integrovaný akčný plán v spolupráci s miestnymi zainteresovanými aktérmi.
        </p>
        <p>
          Mesto Banská Bystrica bude tento akčný plán tvoriť aj s prepojením na
          tvorbu 2. akčného plánu otvoreného vládnutia so zameraním na akčné kroky v
          oblasti inovácií vo vnútri mestského úradu, budovania kapacít zamestnancov,
          resp. odborníkov mestského úradu a depolarizačných stratégií, metód a
          zručností.
        </p>
        <p>
          Projekt odštartoval URBACT univerzitou vo Švédskom Malmo v auguste 2023. Tu
          sa odohralo aj prvé stretnutie siete Agentov Koexistencie a zástupcov z
          jednotlivých partnerských miest.
        </p>
      </div>
    <div class="self-start">
      <h2 class="text-3xl mt-8 ">Relevatné odkazy</h2>
      <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"></h2>
      <ul
        class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
      >
        <li>
          <a
            href="https://urbact.eu/networks/agents-co-existence"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Agenti koexistencie - Program UrbAct</a
          >
        </li>
        <li>
          <a
            href="https://www.banskabystrica.sk/samosprava/otvorena-samosprava-ogp-local/agenti-koexistencie/"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Agenti koexistencie - Banská Bystrica</a
          >
        </li>
      </ul>
    </div>

    <!--
    <h2 class="text-3xl mt-8 self-start">Videá</h2>

    <div class="w-full max-w-xl space-y-8"> 
      <article class="flex flex-col gap-4">
        <div class="max-w-prose text-gray-700">
          <p>
            Rozhovor s holandským filozofom Bartom Brandsmom, ktorý sa zameriava na analýzu a prácu s myslením v štýle "my vs. oni". V 40-minútovej debate s našou korešpondentkou Sonou Karikovou sme diskutovali o tom, ako osloviť ľudí "v strede" a ako efektívne čeliť polarizácii a radikalizácii v spoločnosti.
          </p>
          <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
          
          </p>
        </div>
        <div class="aspect-video">
          <iframe
            class="w-full h-full"
            src="https://www.youtube.com/embed/cPudpSYOSDk"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </article>

    
      <article class="flex flex-col gap-4">
        <div class="max-w-prose text-gray-700">
          <p>
        
            Sem vložte popis pre druhé video, napríklad: "Toto je popis k druhému videu, ktoré dopĺňa predchádzajúci rozhovor o polarizácii a radikalizácii."
          </p>
          <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
         
          </p>
        </div>
        <div class="aspect-video">
          <iframe
            class="w-full h-full"
            src="https://www.youtube.com/embed/7YeF-lQsboU"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </article>

    </div>   -->


        <h2 class="text-3xl mt-8 self-start">Galéria</h2>
    <div class="self-stretch">
        <Gallery source="https://storage.googleapis.com/dialogue-center/fotky%20agenti_%20/gallery-chosen"    count={9}/>
    </div>
  </section> <!-- CLOSING TAG FOR THE MAIN SECTION -->
</Layout>