---
import { changeLanguage } from "i18next";
import Gallery from "@/components/Gallery.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

changeLanguage("sk");
---

<Layout title="Dialogue center">
  <section class="flex flex-col items-center gap-10 mb-8">
    <div class="w-fit flex flex-col gap-5 md:max-w-1/2 md:mx-2">
      <h2 class="text-3xl mt-8">Agenti koexistencie</h2>
      <p class="">
        V spolupráci s mestom <a
          href="https://www.banskabystrica.sk/samosprava/otvorena-samosprava-ogp-local/agenti-koexistencie/"
          class="text-blue-600">Banská Bystrica</a
        > sa organizácia Dialogue Centre, n.o. zapojila do siete akčného plánovania
        “Agents of Co-Existence” (Agenti koexistencie, alebo aj ambasádori dobrých
        vzťahov), ktorú vedie mesto Genk (Belgicko). Táto sieť je spoluprácou medzi
        9 európskymi mestami, ktorá je zameraná na podporu inovatívnych prístupov
        k spoločenským výzvam a inkluzívnu tvorbu miestnych politík s aktívnym zapojením
        obyvateľov. Naša organizácia má postavenie neziskového partnera mesta, ktorého
        hlavnou úlohou bude pracovať s miestnou lokálnou skupinovu obyvateľov Banskej
        Bystrice. Táto "urban local group" alebo miestna lokálna skupina, bude spolutvoriť
        Akčný plán Agentov Koexistencie. Okrem Banskej Bystrice a mesta Genk, ako
        lead partner, sú do siete zapojené mestá Aarhus (Dánsko), Breda (Holandsko),
        Quart de Poblet (Španielsko), Gdansk (Poľsko), Budaörs (Maďarsko), Kekava
        (Lotyšsko) a územné združenie Iasi Metropolitan (Rumunsko). Sieť je súčasťou
        programu URBACT IV, ktorý sa zameriava na trvalo udržateľný európsky rozvoj
        a je spolufinancovaný z Európskeho fondu regionálneho rozvoja (ERDF). Sieť
        sa zameriava na hľadanie spôsobov, ako posilniť zručnosti a kompetencie zamestnancov
        verejnej správy a vytvárať nové organizačné štruktúry a nastoľovať novú kultúru
        v organizáciách verejnej správy pre podporu participatívneho riadenia, resp.
        spravovania vecí verejných a tým aj podpory demokratického systému. Zdieľaním
        vedomostí a skúseností sa mestá budú od seba navzájom učiť a spoločne dospievať
        k novým poznatkom. Každé mesto vypracuje miestny integrovaný akčný plán v
        spolupráci s miestnymi zainteresovanými aktérmi. Mesto Banská Bystrica bude
        tento akčný plán tvoriť aj s prepojením na tvorbu 2. akčného plánu otvoreného
        vládnutia so zameraním na akčné kroky v oblasti inovácií vo vnútri mestského
        úradu, budovania kapacít zamestnancov, resp. odborníkov mestského úradu a
        depolarizačných stratégií, metód a zručností. Projekt odštartoval URBACT
        univerzitou vo Švédskom Malmo v auguste 2023. Tu sa odohralo aj prvé stretnutie
        siete Agentov Koexistencie a zástupcov z jednotlivých partnerských miest.
      </p>
    </div>

    <div class="min-w-1/2">
      <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"></h2>
      <ul
        class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
      >
        <li>
          <a
            href="https://urbact.eu/networks/agents-co-existence"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >UrbAct</a
          >
        </li>
        <li>
          <a
            href="https://www.banskabystrica.sk/samosprava/otvorena-samosprava-ogp-local/agenti-koexistencie/"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Agenti koexistencie - Banská Bystrica</a
          >
        </li>
      </ul>
    </div>

    <div>
      <Gallery/>
    </div>
  </section>
</Layout>
