---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout>
  <section class="flex flex-col items-center gap-4 mb-8">
    <div class="w-fit flex flex-col gap-5 md:max-w-1/2 md:mx-2">

        


      <h2 class="text-4xl font-semibold mt-4">Participatívny proces k projektu revitalizácie mestského parku</h2>
      <h3 class="flex flex-col gap-1 italic text-gray-400 text-sm">
        <span>Termín realizácie projektu: júl – november 2021</span>
        <span>Projektový tím: Dialogue Centre - Michaela Kováčik Huľuková, Mesto Banská Bystrica /Referát pre participáciu a inováciu v oblasti otvoreného spravovania - Soňa Kariková</span>
        <span>Finančná podpora projektu: Mesto Banská Bystrica</span>
      
      </h3>

      <p><strong>Mesto Banská Bystrica</strong> v roku 2021 odštartovalo projekt <em>Zelené sídliská (zelené oázy)</em>, ktorého cieľom je pripraviť revitalizáciu siedmich lokalít so zreteľom na klimatickú adaptáciu.</p>

<p><strong>Dialogue Centre, n. o.</strong> v projekte zastrešilo participáciu – pripravilo plán zapojenia verejnosti, miestnych lídrov a odborníkov, organizovalo verejné stretnutia a spracovalo výstupy.</p>

<p>Vďaka tomuto procesu mohli obyvatelia priamo prispieť k návrhom riešení, ktoré zohľadňujú klimatické výzvy aj konkrétne potreby jednotlivých lokalít.</p>

<!--- 
<img
        src="/logos/zelene-sidliska.jpg"
        alt="Vizualizácia revitalizovaného Mestského parku v Banskej Bystrici"
        class="w-48 rounded-s shadow-md mt-5"
      />--->
    </div>
  </section>
</Layout>
