---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout title="Dialogue center">
  <section class="flex flex-col items-center gap-4 mb-8">
    <div class="w-fit flex flex-col gap-5 md:max-w-1/2 md:mx-2">

      <h2 class="text-4xl font-semibold mt-8">Iniciatíva Partnerstva pre Otvorené vládnutie na miestnej úrovni v Banskej Bystrici</h2>

      <h3 class="flex flex-col gap-1 italic text-gray-400 text-sm">
        <span>Termín realizácie projektu: Január 2022 – trvá</span>
        <span>Projektový tím:  Dialogue Centre - Michaela Kováčik Huľuková, Mesto Banská Bystrica /Referát pre participáciu a inováciu v oblasti otvoreného spravovania - Soňa Kariková</span>
        <span>Projektový partneri: OGP Local</span>
        <span>Finančná podpora projektu: Mesto Banská Bystrica</span>
      </h3>
<p>Pomáhame samosprávam a organizáciám zavádzať demokratické inovácie v oblasti otvoreného a participatívneho spravovania – od dizajnu procesov až po nástroje, ktoré im umožňujú stať sa prirodzenou súčasťou každodennej praxe. </p>
<p>V súčasnosti tieto aktivity realizujeme v rámci <strong>Mesta Banská Bystrica </strong> v spolupráci s <strong>Referátom pre participáciu a inováciu v oblasti otvoreného spravovania </strong>, ktoré sa v r. 2021 stalo členom prestížneho programu OGP Local (Open Government Partnership), čim sa zaviazala k rozvoju otvoreného, participatívneho a trasnparentného spravovania vecí verejných v samospráve Banská Bystrica.
</p>
<p><strong>Naša metodológia:</strong></p>

<p>Pri realizácii demokratickej inovácie pre rozvoj otvorenej a participatívnej správy vecí verejných sa zameriavame na štyri dimenzie inovácie:</p>

<ul>
  <li><strong>Scaling up</strong> – inštitucionalizácia, tvorba nástrojov, smerníc, metodík a štatútov, ktoré ukotvujú otvorené spravovanie.</li>
  <li><strong>Scaling deep</strong> – budovanie kapacít a zručností potrebných na dlhodobé a kvalitné uplatňovanie demokratických inovácií.</li>
  <li><strong>Scaling out</strong> – rozširovanie inovácií do ďalších miest a komunít, spoluorganizácia konferencií a fór na výmenu skúseností.</li>
  <li><strong>Scaling in</strong> – dôraz na kvalitu procesov demokratických inovácií, vrátane participatívnych prístupov.</li>
</ul>

<p>Výstupy našich spoločných aktivít s Referátom pre participáciu a inováciu v oblasti demokratickej inovácie pre rozvoj otvoreného a participatívneho spravovania zahŕňajú:</p>

<ul>
  <li>Akčný plán otvoreného vládnutia v Banskej Bystrici 2021/2022</li>
  <li>Akčný plán otvoreného vládnutia v Banskej Bystrici 2024/2026</li>
  <li>Mapa otvoreného vládnutia v Banskej Bystrici 2030</li>
  <li>Nástroj Spolupracovňa</li>
  <li>Workshopy zamerané na strategickú prácu s polarizáciou</li>
</ul>
    </div>
  </section>
</Layout>
