---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout>
  <section class="flex flex-col items-center gap-4 mb-8">
    <div class="w-fit flex flex-col gap-5 md:max-w-1/2 md:mx-2">

      <!-- Obrázok projektu -->
      <img
        src="https://bbonline.sk/wp-content/uploads/2023/03/mestsky-park-novy-projekt-banska-bystrica-2.jpg"
        alt="Vizualizácia revitalizovaného Mestského parku v Banskej Bystrici"
        class="rounded-xl shadow-md mt-8"
      />


      <h2 class="text-4xl font-semibold mt-4">Participatívny proces k projektu revitalizácie mestského parku</h2>
      <h3 class="flex flex-col gap-1 italic text-gray-400 text-sm">
        <span>Termín Realizácia projektu: Október 2022 – November 2024</span>
        <span>Projektový tím: Dialogue Centre - Eva Mazancová, Mesto Banská Bystrica /Referát pre participáciu a inováciu v oblasti otvoreného spravovania - Soňa Kariková</span>
        <span>Finančná podpora projektu: Mesto Banská Bystrica</span>
      </h3>
      <p><strong>Projekt revitalizácie Mestského parku na Tajovského ulici v Banskej Bystrici</strong> prebiehal participatívne – za aktívnej účasti obyvateľov, odborníkov aj samosprávy.</p>
<p>Cieľom bolo spoločne navrhnúť verejný priestor, ktorý bude funkčný, inkluzívny a citlivý k histórii i budúcim potrebám mesta.</p>

<p><strong>Dialogue Centre</strong> v spolupráci s Referátom pre participáciu a inováciu v oblasti otvoreného vládnutia zabezpečilo dizajn, organizáciu, facilitáciu a spracovanie výstupov komplexného participatívneho procesu.</p>

<p>Do tvorby návrhu sa zapojilo <strong>viac ako 200 obyvateľov</strong> prostredníctvom plánovacích stretnutí, diskusií, dotazníkov a verejných prezentácií. Ich výstupy boli spracované a odovzdané odboru architekta mesta ako podklad pre architektonickú súťaž nážhov.</p>

<p>Súčasťou boli aj organizácie odborných konferencií venovaných téme revitalizácie parku.</p>

    </div>
  </section>
</Layout>
