---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

---

<Layout title="Dialogue center">
  <section class="flex flex-col items-center gap-4 mb-8">
    <div class="w-fit flex flex-col gap-5 md:max-w-1/2 md:mx-2">

      <h2 class="text-4xl font-semibold mt-8">Participatívne líderky</h2>

      <h3 class="flex flex-col gap-1 italic text-gray-400 text-sm">
        <span>Termín realizácie projektu: Apríl 2021 – Marec 2022</span>
        <span>Projektový tím: Soňa Kariková, Dana Švihlová, Michaela Huľuková</span>
        <span>Projektové partnerky: Susan Morales Guerra, Kirsten Paaby</span>
      </h3>

      <p class="font-medium text-blue-900">
        Projekt Participatívne líderky podporuje rozvoj ženského a participatívneho líderstva ako nástroja pre budovanie odolnej a angažovanej spoločnosti.
      </p>

      <p>
        Cieľom projektu je prispieť k podpore rozvoja aktívnej a odolnej spoločnosti v SR, ako aj k posilňovaniu aktívneho občianstva žien a ich angažovanosti v občianskej, verejnej a politickej sfére.
      </p>

      <p>
        Participatívne líderstvo sa v súčasnosti považuje za účinný prístup pri podpore spoločností, ktoré sú schopné reagovať na komplexné globálne výzvy. Projekt vychádza z prepojenia ženského a participatívneho prístupu k vedeniu, pričom sa inšpiruje konceptom „Art of Hosting“ – umením viesť zmysluplné konverzácie.
      </p>

      <p>
        Výskumy ukazujú, že ženy často inklinujú k formám líderstva, ktoré sú inkluzívne, otvorené a založené na spolupráci. Z tohto dôvodu je ich angažovanie v oblasti participatívneho líderstva obzvlášť cenné.
      </p>

      <p>
        Projekt rozvíjal aj medzinárodnú spoluprácu s nórskymi partnerkami, čím čerpal zo silnej tradície ženského a participatívneho líderstva v Nórsku. Výstupy z projektu zahŕňali kreatívne diskusie, analýzu dát, fokusové skupiny a konzultácie s expertmi.
      </p>

    </div>
  </section>
</Layout>
