---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

---

<Layout title="Dialogue center">
  <section class="flex flex-col items-center gap-4 mb-8">
    <div class="w-fit flex flex-col gap-5 md:max-w-1/2 md:mx-2">

      <h2 class="text-4xl font-semibold mt-8">Kurikulum tréningu Participatívne líderky</h2>

      <h3 class="flex flex-col gap-1 italic text-gray-400 text-sm">
        <span>Termín realizácie projektu: Apríl 2021 – Marec 2022</span>
        <span>Projektový tím: Soňa Kariková, Dana Švihlová, Michaela Huľuková</span>
        <span>Projektové partnerky: Susan Morales Guerra, Kirsten Paaby</span>
        <span>Finančná podpora projektu: Active Citizens Fund</span>
      </h3>
<p>Cieľom projektu bolo vytvoriť návrh kurikula pre rozvoj ženského participatívneho líderstva, ktoré podporuje budovanie odolnej, súdržnej a angažovanej spoločnosti. Participatívne líderstvo je dnes vnímané ako účinný prístup k riešeniu komplexných globálnych výziev, preto projekt prepájal ženský a participatívny prístup k vedeniu a inšpiroval sa konceptom Art of Hosting – umením viesť zmysluplné konverzácie.</p>
Výskumy ukazujú, že ženy prirodzene inklinujú k inkluzívnym a spolupracujúcim formám líderstva, čo robí ich zapojenie do participatívneho vedenia obzvlášť cenným. Návrh kurikula vznikol na základe kreatívnych diskusií, analýz, fokusových skupín a konzultácií s expertmi, pričom projekt čerpal aj z medzinárodnej spolupráce s nórskymi partnerkami a z ich silnej tradície ženského a participatívneho líderstva.


    </div>
  </section>
</Layout>
