---
import Gallery from "@/components/Gallery.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import Link from "@/components/Link.astro";
---

<Layout title="Agenti Koexistencie - Workshopy | Dialogue Centre">
  <section
    class="flex flex-col items-center gap-4 mb-8 md:max-w-1/2 md:mx-auto"
  >
    <div class="w-fit flex flex-col gap-5 md:mx-2">
      <h2 class="font-semibold text-3xl mt-8">
        Workshopy “Ako strategicky pracovať s polarizáciou”

      </h2>
      <p>
  Slovensko – podobne ako mnohé iné krajiny – čelí narastajúcej polarizácii vo verejnom diskurze, politike, ale často aj v každodennom živote. Táto situácia prináša vážne riziká pre demokratické inštitúcie, spoločenskú súdržnosť aj efektívne riadenie štátu na všetkých úrovniach.
</p>
<div class="mt-8 mb-0 not-prose">
  <h3 class="text-2xl font-bold mb-3 text-slate-800">Naša metodológia</h3>
  <p class="mb-4">
    Workshopy realizujeme podľa metodológie experta na polarizáciu
    <strong class="text-blue-600 ">Barta Brandsmu</strong>. Náš tím bol ním
    osobne trénovaný a Dialogue Centre je oficiálnym partnerom organizácie
    <em class="font-semibold">Inside Polarisation</em>.
  </p>
  <p class="mb-4">
    Ich cieľom je naučiť účastníkov rozpoznávať dynamiku polarizácie,
    porozumieť jej mechanizmom a osvojiť si praktické nástroje na strategickú
    prácu s ňou. Zameriavame sa na rozvoj zručností, postojov a hodnôt, ktoré
    posilňujú dialóg, podporujú sociálnu súdržnosť a chránia demokratické
    prostredie.
  </p>
  <p class="mb-4">
    Workshopy sú určené pre profesionálov z diplomacie, verejného sektora, mimovládnych organizácií či politiky, ako aj pre všetkých, ktorí sa podieľajú alebo chcú podieľať na budovaní spoločenskej súdržnosti. Účastníci zohrávajú kľúčovú úlohu v depolarizácii a svojím príkladom môžu inšpirovať aj ostatných.
  </p>
  <p class="mb-6">
    Pilotnú sériu Workshopov v spolupráci s Referátom pre participáciu a inovácie MsÚ Banská Bystrica, sme zorganizovali v rámci aktivít projektu <a href="https://dialoguecentre.eu/projects/agents/" class="text-blue-600 underline font-semibold">Agenti Koexistencie</a>, ktorý je súčasťou programu URBACT IV, zameraného na inovácie v spravovaní vecí verejných.
  </p>
 
  <p>Ak máte záujem o workshop, kontaktujte nás na
  <a href="mailto:dialog@dialoguecentre.eu" class="text-blue-600 underline">dialog@dialoguecentre.eu</a>.
  </p>



    <h2 class="text-3xl mt-8 self-start">Relevatné odkazy</h2>
    <div class="md:mx-2 self-start">
      <ul
        class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400"
      >
        <li>
          <a
            href="https://www.banskabystrica.sk/samosprava/otvorena-samosprava-ogp-local/"
            target="_blank"
            rel="noopener noreferrer"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            Iniciatíva pre otvorené vládnutie BB (OGP Local)
          </a>
        </li>
        <li>
          <a
            href="https://urbact.eu/"
            target="_blank"
            rel="noopener noreferrer"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            Program URBACT IV
          </a>
        </li>
        <li>
          <a
            href="https://dialoguecentre.eu/projects/agents/"
            target="_blank"
            rel="noopener noreferrer"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            Agenti Koexistencie
          </a>
        </li>
        <li>
          <a
            href="https://dialoguecentre.eu/events/2-dostava-sa-ti-online-polarizacia-pod-kozu-verejny-dialog-9/"
            target="_blank"
            rel="noopener noreferrer"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
          >
            Verejný dialóg s Bartom Brandsmom
          </a>
        </li>
      </ul>
    </div>

    <!-- NEW SECTION: Videá -->
    <h2 class="text-3xl mt-8 self-start">Podcasty</h2>
    <div class="w-full max-w-3xl space-y-8">

      <!-- Video 2 -->
      <article class="bg-white dark:bg-gray-800 rounded-xl shadow-md overflow-hidden">
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            How to Work with Participation in Polarization
          </h3>
          <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
          Rozhovor s holandským filozofom Bartom Brandsmom, ktorý sa zameriava na analýzu a prácu s myslením v štýle "my vs. oni". V 40-minútovej debate s našou korešpondentkou Sonou Karikovou sme diskutovali o tom, ako osloviť ľudí "v strede" a ako efektívne čeliť polarizácii a radikalizácii v spoločnosti.
          </p>
          <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">
        Nájdete ako podcast v časti <Link href="/podcasts" text="Podcasty"/>.
        </p>
        </div>

      </article>
    </div>

    <h2 class="text-3xl mt-8 self-start">Galéria</h2>
    <div class="self-stretch">
      <Gallery
        source="https://storage.googleapis.com/dialogue-center/polarization_workshops"
        count={10}
      />
    </div>
  </section>
</Layout>